name: Build AyuGram

on:
  push:
    branches:
      - main
    paths:
      - 'srcpkgs/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build AyuGram x86_64
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/void-linux/void-glibc-full
      options: --privileged
      volumes:
        - /dev:/dev
      env:
        ARCH: x86_64
        BOOTSTRAP: x86_64
        TEST: 0

    steps:
      - name: Prepare container
        run: |
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash curl git
          useradd -G xbuilder -M builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/builder

      - name: Checkout your repo
        uses: actions/checkout@v4
        with:
          path: main-repo

      - name: Checkout void-packages
        uses: actions/checkout@v4
        with:
          repository: void-linux/void-packages
          path: void-packages

      - name: Merge templates
        id: info
        run: |
          cp -rv main-repo/srcpkgs/ayugram-desktop void-packages/srcpkgs/
          chown -R builder:builder void-packages
          PKGVERSION=$(grep '^version=' main-repo/srcpkgs/ayugram-desktop/template | cut -d= -f2 | tr -d '"')
          echo "pkgversion=$PKGVERSION" >> $GITHUB_OUTPUT

      - name: Prepare masterdir
        run: |
          cd void-packages
          sudo -Eu builder common/travis/set_mirror.sh
          sudo -Eu builder common/travis/prepare.sh
          common/travis/fetch-xtools.sh

      - name: Build AyuGram
        run: |
          export PATH="/opt/xbps/usr/bin/:$PATH"
          cd void-packages
          sudo -Eu builder ./xbps-src -j$(nproc) pkg ayugram-desktop

      - name: Sign and Index
        env:
          PRIV_KEY: ${{ secrets.PRIV_KEY }}
        run: |
          export PATH="/opt/xbps/usr/bin/:$PATH"
          cd void-packages/hostdir/binpkgs/
          echo "$PRIV_KEY" > private.pem
          xbps-rindex -a *.xbps
          xbps-rindex -s --signedby "OverLessArtem <artemover@duck.com>" --privkey private.pem $PWD
          xbps-rindex -S --privkey private.pem *.xbps
          rm private.pem

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.info.outputs.pkgversion }}-${{ github.run_number }}
          name: AyuGram Void Linux v${{ steps.info.outputs.pkgversion }}
          make_latest: true
          files: |
            void-packages/hostdir/binpkgs/*
